<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Страна текстиля</title>
    <link href="../../less/main.css" rel="stylesheet">
</head>

<body>
    <div class="content-widget">
        <div class="widget-title">
            <div class="ornament"></div>
            <div class="title">Специальные предложения</div>
            <div class="mirror-ornament"></div>
        </div>
        <div class="content-box">
            <ul class="product-lines">
                <li class="product-demonstration">
                    <div class="illustrations">
                        <img src="../../images/illustrations.png" alt="...">
                    </div>
                    <div class="encoding-product">Название товара КПБ
                        ДЕТСКИЙ ИЗ БЯЗИ VALTERY DB27 1.5-СПАЛЬНЫЙ
                    </div>
                    <div class="product-description">Сатинс вышивкой, с отделкой
                        гобеленом (110). Состов: 100% хлопок сатин, вышивка, Китай
                    </div>
                    <div class="selective">
                        <button type="button" class="icon favorites"></button>
                        <button type="button" class="icon matching"></button>
                    </div>
                    <div class="cost active">
                        <div class="past-cost">1125</div>
                        <div class="current-cost">1050 руб</div>
                    </div>
                    <div class="reserved">
                        <button type="button" class="reservation">В корзину</button>
                    </div>
                </li>
                <li class="product-demonstration">
                    <div class="illustrations">
                        <img src="../../images/illustrations1.png" alt="...">
                    </div>
                    <div class="encoding-product">Название товара КПБ
                        ДЕТСКИЙ ИЗ БЯЗИ VALTERY DB27 1.5-СПАЛЬНЫЙ
                    </div>
                    <div class="product-description">Сатинс вышивкой, с отделкой
                        гобеленом (110). Состов: 100% хлопок сатин, вышивка, Китай
                    </div>
                    <div class="selective">
                        <button type="button" class="icon favorites active"></button>
                        <button type="button" class="icon matching active"></button>
                    </div>
                    <div class="cost">
                        <div class="past-cost">1125</div>
                        <div class="current-cost">1050 руб</div>
                    </div>
                    <div class="reserved">
                        <button type="button" class="reservation active">В корзину</button>
                    </div>
                </li>
                <li class="product-demonstration">
                    <div class="illustrations">
                        <img src="../../images/illustrations.png" alt="...">
                    </div>
                    <div class="encoding-product">Название товара КПБ
                        ДЕТСКИЙ ИЗ БЯЗИ VALTERY DB27 1.5-СПАЛЬНЫЙ
                    </div>
                    <div class="product-description">Сатинс вышивкой, с отделкой
                        гобеленом (110). Состов: 100% хлопок сатин, вышивка, Китай
                    </div>
                    <div class="selective">
                        <button type="button" class="icon favorites"></button>
                        <button type="button" class="icon matching"></button>
                    </div>
                    <div class="cost active">
                        <div class="past-cost">1125</div>
                        <div class="current-cost">1050 руб</div>
                    </div>
                    <div class="reserved">
                        <button type="button" class="reservation">В корзину</button>
                    </div>
                </li>
                <li class="product-demonstration">
                    <div class="illustrations">
                        <img src="../../images/illustrations.png" alt="...">
                    </div>
                    <div class="encoding-product">Название товара КПБ
                        ДЕТСКИЙ ИЗ БЯЗИ VALTERY DB27 1.5-СПАЛЬНЫЙ
                    </div>
                    <div class="product-description">Сатинс вышивкой, с отделкой
                        гобеленом (110). Состов: 100% хлопок сатин, вышивка, Китай
                    </div>
                    <div class="selective">
                        <button type="button" class="icon favorites"></button>
                        <button type="button" class="icon matching"></button>
                    </div>
                    <div class="cost active">
                        <div class="past-cost">1125</div>
                        <div class="current-cost">1050 руб</div>
                    </div>
                    <div class="reserved">
                        <button type="button" class="reservation">В корзину</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-widget">
        <div class="widget-title">
            <div class="ornament"></div>
            <div class="title">Популярные товары</div>
            <div class="mirror-ornament"></div>
        </div>
        <div class="content-box">
            <ul class="product-lines">
                <li class="product-demonstration">
                    <div class="illustrations">
                        <img src="../../images/illustrations.png" alt="...">
                    </div>
                    <div class="encoding-product">Название товара КПБ
                        ДЕТСКИЙ ИЗ БЯЗИ VALTERY DB27 1.5-СПАЛЬНЫЙ
                    </div>
                    <div class="product-description">Сатинс вышивкой, с отделкой
                        гобеленом (110). Состов: 100% хлопок сатин, вышивка, Китай
                    </div>
                    <div class="selective">
                        <button type="button" class="icon favorites"></button>
                        <button type="button" class="icon matching"></button>
                    </div>
                    <div class="cost active">
                        <div class="past-cost">1125</div>
                        <div class="current-cost">1050 руб</div>
                    </div>
                    <div class="reserved">
                        <button type="button" class="reservation">В корзину</button>
                    </div>
                </li>
                <li class="product-demonstration">
                    <div class="illustrations">
                        <img src="../../images/illustrations1.png" alt="...">
                    </div>
                    <div class="encoding-product">Название товара КПБ
                        ДЕТСКИЙ ИЗ БЯЗИ VALTERY DB27 1.5-СПАЛЬНЫЙ
                    </div>
                    <div class="product-description">Сатинс вышивкой, с отделкой
                        гобеленом (110). Состов: 100% хлопок сатин, вышивка, Китай
                    </div>
                    <div class="selective">
                        <button type="button" class="icon favorites active"></button>
                        <button type="button" class="icon matching active"></button>
                    </div>
                    <div class="cost">
                        <div class="past-cost">1125</div>
                        <div class="current-cost">1050 руб</div>
                    </div>
                    <div class="reserved">
                        <button type="button" class="reservation active">В корзину</button>
                    </div>
                </li>
                <li class="product-demonstration">
                    <div class="illustrations">
                        <img src="../../images/illustrations.png" alt="...">
                    </div>
                    <div class="encoding-product">Название товара КПБ
                        ДЕТСКИЙ ИЗ БЯЗИ VALTERY DB27 1.5-СПАЛЬНЫЙ
                    </div>
                    <div class="product-description">Сатинс вышивкой, с отделкой
                        гобеленом (110). Состов: 100% хлопок сатин, вышивка, Китай
                    </div>
                    <div class="selective">
                        <button type="button" class="icon favorites"></button>
                        <button type="button" class="icon matching"></button>
                    </div>
                    <div class="cost active">
                        <div class="past-cost">1125</div>
                        <div class="current-cost">1050 руб</div>
                    </div>
                    <div class="reserved">
                        <button type="button" class="reservation">В корзину</button>
                    </div>
                </li>
                <li class="product-demonstration">
                    <div class="illustrations">
                        <img src="../../images/illustrations.png" alt="...">
                    </div>
                    <div class="encoding-product">Название товара КПБ
                        ДЕТСКИЙ ИЗ БЯЗИ VALTERY DB27 1.5-СПАЛЬНЫЙ
                    </div>
                    <div class="product-description">Сатинс вышивкой, с отделкой
                        гобеленом (110). Состов: 100% хлопок сатин, вышивка, Китай
                    </div>
                    <div class="selective">
                        <button type="button" class="icon favorites"></button>
                        <button type="button" class="icon matching"></button>
                    </div>
                    <div class="cost active">
                        <div class="past-cost">1125</div>
                        <div class="current-cost">1050 руб</div>
                    </div>
                    <div class="reserved">
                        <button type="button" class="reservation">В корзину</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>

