<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Страна текстиля</title>
    <link href="../../less/main.css" rel="stylesheet">
</head>

<body>
<div class="container-sidebar">
    <div class="search-bar">
        <form>
            <input type="text" value="Поиск товаров">
            <button>
                <div class="icon-search"></div>
            </button>
        </form>
    </div>
    <div class="category-list-wrap">
        <div class="name-list">Каталог товаров</div>
        <div class="category-list">
            <ul>
            <li class="level-1">
                <div class="marker-list"></div>
                <span>Категория один</span>
                <ul>
                    <li class="level-2">
                        &ndash; Подкатегория один
                    </li>
                </ul>
            </li>
        </ul>
        </div>
    </div>
    <div class="banner size-1">
        <img src="../../images/banner-1.jpg" alt="">
    </div>
    <div class="side-univ news-list">
        <div class="name-side-univ">Новости</div>
        <ul>
            <li>
                25.12.2014 <a href="">Новая новость</a>
                <p>Здесь написано краткое содержание новой новости ...</p>
            </li>
            <div class="line-betw">
                <div class="line"></div>
                <div class="square">
                    <div class="triangle-l"></div>
                    <div class="triangle-r"></div>
                </div>
            </div>
            <li>
                25.12.2014 <a href="">Новая новость</a>
                <p>Здесь написано краткое содержание новой новости ...</p>
            </li>
            <div class="line-betw">
                <div class="line"></div>
                <div class="square">
                    <div class="triangle-l"></div>
                    <div class="triangle-r"></div>
                </div>
            </div>
            <li>
                25.12.2014 <a href="">Новая новость</a>
                <p>Здесь написано краткое содержание новой новости ...</p>
            </li>
        </ul>
    </div>
    <div class="banner size-2">
        <img src="../../images/banner-2.jpg" alt="">
    </div>
    <div class="side-univ interview">
        <div class="name-side-univ">Опросы</div>
        <p><b>Вопрос опроса, как думаете, кто умнее?</b></p>
        <form>
            <div class="radio">
                <input id="rb1" type="radio" name="question" value="" checked>
                <label for="rb1">Лошадь домашняя</label><br>
                <input id="rb2" type="radio" name="question" value="">
                <label for="rb2">Зебра африканская</label><br>
                <input id="rb3" type="radio" name="question" value="">
                <label for="rb3">Осел высокогорный</label><br>
                <input id="rb4" type="radio" name="question" value="">
                <label for="rb4">Пингвин австралийский</label><br>
            </div>
            <div class="button-wr">
                <button type="button" class="reservation">Ответить</button>
            </div>
        </form>
    </div>
    <div class="banner size-2">
        <img src="../../images/banner-3.jpg" alt="">
    </div>
</div>
</body>

</html>